@import "../../../../styles/mixins.scss";
@import "../../../../styles/variables";

.product-features {
  margin: 52px 120px 32px 120px;
  padding-bottom: 52px;
  border-bottom: 1px solid $dGrey-01;

  @media (max-width: 576px) {
    margin: 0 24px 24px 24px;
    padding-bottom: 32px;
  }

  .features-tab {
    @include flex();
    border-bottom: 1px solid $dGrey-01;
    margin-bottom: 32px;

    @media (max-width: 576px) {
      margin-right: 24px;
    }

    button {
      @include font($color: $Grey-01, $size: 18px, $weight: 500);
      @include container($background: none, $border: none);
      @include flex($justify: center, $align: center);
      text-align: center;
      padding: 14px 24px;

      @media (max-width: 576px) {
        @include font($size: 14px);
      }
    }

    .selected {
      @include font($color: $Dark-Green-01);
      border-bottom: 2px solid $Dark-Green-01;

      @media (max-width: 576px) {
        white-space: nowrap;
      }
    }
  }

  .product-title {
    @include font($color: $Black-01, $size: 28px, $weight: 600);
    margin-bottom: 12px;

    @media (max-width: 576px) {
      @include font($size: 18px);
    }
  }

  .product-desc {
    @include font($color: $Grey-01, $size: 16px, $weight: 400);
    @include container($width: 75%);
    line-height: 160%;
    margin-bottom: 32px;

    @media (max-width: 576px) {
      @include font($size: 12px);
      @include container($width: 100%);
    }
  }

  .details {
    @include flex($align: flex-start, $gap: 32px);

    @media (max-width: 576px) {
      @include flex($direction: column, $gap: 32px);
    }

    .specification {
      h2 {
        color: $Black-01;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 16px;

        @media (max-width: 576px) {
          font-size: 16px;
        }
      }

      .spec {
        @include mixins.flex-center;

        &:nth-child(2n) {
          background: var(--lGrey-03, #F9F9F9);
        }


        .spec-title {
          color: $Grey-01;
          font-size: 16px;
          font-weight: 400;
          display: flex;
          width: 160px;
          padding: 10px;
          align-items: flex-start;
          line-height: 160%;

          @media (max-width: 576px) {
            font-size: 14px;
          }
        }

        .spec-value {
          color: $Black-01;
          font-size: 16px;
          font-weight: 500;
          display: flex;
          width: 260px;
          padding: 10px;
          align-items: flex-start;

          @media (max-width: 576px) {
            font-size: 14px;
          }
        }
      }
    }

    .in-the-box {

      h2 {
        color: $Black-01;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 16px;

        @media (max-width: 576px) {
          font-size: 16px;
        }
      }

      .box-items {
        @include mixins.flex-center;
        column-gap: 10px;
        margin-bottom: 12px;

        .box-title {
          color: $Black-01;
          font-size: 16px;
          font-weight: 500;
          line-height: 160%;

          @media (max-width: 576px) {
            font-size: 14px;
          }
        }
      }
    }

    .system-required {
      h2 {
        color: $Black-01;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 16px;

        @media (max-width: 576px) {
          font-size: 16px;
        }
      }

      p {
        color: $Grey-01;
        font-size: 16px;
        font-weight: 400;
        line-height: 160%;

        @media (max-width: 576px) {
          font-size: 14px;
        }
      }
    }
  }
}