@import "../../../../styles/mixins.scss";
@import "../../../../styles/variables";

.articles {
  @media (min-width: 576px) {
    padding: 0px 120px 120px 120px;
  }

  @media (max-width: 576px) {
    padding: 0px 24px 60px 24px;
  }

  .articles-header {
    @include flex($align: center, $justify: space-between);
    margin-bottom: 52px;

    @media (max-width: 576px) {
      margin-bottom: 34px;
    }

    h2 {
      @include font($color: $Black-01, $size: 38px, $weight: 600);

      @media (max-width: 576px) {
        @include font($size: 18px);
      }
    }

    button {
      @include flex($align: center, $justify: center, $gap: 10px);
      @include font($color: $Dark-Green-01, $size: 18px, $weight: 600);
      @include container($border-r: 8px, $border: 1px solid $Dark-Green-01, $background: $White-General);
      padding: 10px 16px;
      text-align: center;

      @media (max-width: 576px) {
        @include font($size: 14px);
      }
    }
  }

  .card-articles {
    @include flex($align: center, $justify: space-between, $gap: 24px);

    @media (max-width: 576px) {
      @include flex($direction: column, $gap: 24px);
    }
  }
}