@import "../../../../styles/mixins.scss";
@import "../../../../styles/variables";

.payment-method {
  @include container($border-r: 12px, $border: 1px solid $dGrey-01);
  padding: 24px;

  @media (max-width: 576px) {
    padding: 16px;
  }

  h2 {
    @include font($color: $Black-01, $size: 20px, $weight: 600, $height: 140%);
    letter-spacing: -0.2px;
    margin-bottom: 24px
  }

  .payment-line {
    @include flex($align: center);
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid $dGrey-01;
    column-gap: 16px;

    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
      margin-bottom: 0;
    }

    input {
      @include container($width: 20px, $height: 20px);

      @media (max-width: 576px) {
        @include container($width: 16px, $height: 16px);
      }
    }

    .payment-img {
      @include container($width: 100px, $height: 52px, $border-r: 8px, $background: $lGrey-02);
      @include flex($align: center, $justify: center);

      img {
        @media (max-width: 576px) {
          @include container($height: 38px);
        }
      }

      @media (max-width: 576px) {
        @include container($width: 56px);
      }
    }

    .payment-method-details {
      @include flex($align: flex-start, $gap: 4px, $direction: column);

      h3 {
        @include font($color: $Black-01, $size: 20px, $weight: 600, $height: 140%);
        letter-spacing: -0.2px;

        @media (max-width: 576px) {
          @include font($size: 12px);
        }
      }

      p {
        @include font($color: $Grey-01, $size: 16px, $weight: 400, $height: 160%);

        @media (max-width: 576px) {
          @include font($size: 10px);
        }
      }
    }
  }
}