@import "../../../../styles/mixins.scss";
@import "../../../../styles/variables";

.checkout-nav {
  @include container($background: $dGrey-02, $height: 180px);

  @media (max-width: 576px) {
    @include container($height: 140px);
  }

  .checkout-nav-content {
    @include flex($align: flex-start, $direction: column);
    margin: 0 120px 0 120px;

    @media (max-width: 576px) {
      margin: 0 24px 0 24px;
    }

    h1 {
      @include font($color: $Black-01, $size: 24px, $weight: 600, $height: 140%);
      margin-top: 60px;
      letter-spacing: -0.2px;

      @media (max-width: 576px) {
        @include font($size: 18px);
      }
    }

    p {
      @include font($color: $Grey-01, $size: 16px, $weight: 400, $height: 160%);

      @media (max-width: 576px) {
        @include font($size: 12px);
      }
    }
  }
}