@import "../../../../styles/mixins.scss";
@import "../../../../styles/variables";

.promo-banner {
  @include flex($align: center);
  @include container($background: $Orange-03, $border-r: 16px);
  margin: 100px 120px 100px 120px;
  padding: 0px 135px 0px 80px;

  @media (max-width: 576px) {
    @include flex($direction: column, $align: flex-start);
    padding: 32px 24px 21px 24px;
    margin: 100px 24px 100px 24px;
  }

  .promo-banner-img {
    img {
      @include container($width: 382px, $height: 430px);
      flex-shrink: 0;

      @media (max-width: 576px) {
        @include container($width: 157px, $height: 176px);
        margin-bottom: 32px;
      }
    }
  }

  .promo-banner-content {
    @media (min-width: 576px) {
      margin-left: 120px;
    }

    .promo-banner-title {
      @include font($color: $Black-01, $size: 38px, $weight: 600);
      margin-bottom: 16px;

      @media (max-width: 576px) {
        @include font($size: 18px);
        margin-bottom: 12px;
      }
    }

    .promo-banner-text {
      @include font($color: $Grey-01, $size: 18px, $weight: 400);
      margin-bottom: 32px;

      @media (max-width: 576px) {
        @include font($size: 14px);
      }
    }

    .promo-banner-buttons {
      @include flex($align: center, $gap: 16px);

      button {
        @include flex($align: center, $justify: center, $gap: 10px);
        @include container($width: 200px, $border-r: 8px);
        @include font($size: 18px, $weight: 600);
        padding: 14px 10px;
        text-align: center;

        @media (max-width: 576px) {
          @include container($width: 133px);
          @include font($size: 14px);
        }
      }

      .buy-btn {
        @include container($background: $Dark-Green-01, $border: none);
        @include font($color: $White-General);
      }

      .detail-btn {
        @include container($background: $Orange-03, $border: 1px solid $Dark-Green-01);
        @include font($color: $Dark-Green-01);
      }
    }
  }
}