@use "../../styles/mixins.scss";
@import "../../styles/variables";

.checkout {
  .main {
    @include mixins.flex-center;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 120px 120px 120px;
    column-gap: 32px;

    @media (max-width: 576px) {
      flex-direction: column;
      margin: 0 24px 32px 24px;
    }

    .main-column {
      width: 70%;
      display: flex;
      flex-direction: column;
      row-gap: 32px;

      @media (max-width: 576px) {
        width: 100%;
      }
    }

    .product-summary {
      width: 30%;

      @media (max-width: 576px) {
        width: 100%;
      }
    }
  }
}