@import "../../styles/mixins.scss";
@import "../../styles/variables";

.product-summary {
  @include container($width: 30%, $border-r: 12px, $border: 1px solid $dGrey-01, $background: $White-General);
  @include flex($direction: column);
  padding: 24px;

  @media (max-width: 576px) {
    @include container($width: 100%);
  }

  .product-summary-title {
    @include font($color: $Black-01, $size: 20px, $weight: 600, $height: 140%);
    letter-spacing: -0.2px;
    margin-bottom: 24px;

    @media (max-width: 576px) {
      @include font($size: 16px);
    }
  }

  .summary-selected-products {
    padding-bottom: 24px;
    margin-bottom: 24px;
    border-bottom: 1px solid $dGrey-01;

    p {
      @include font($color: $Black-01, $size: 16px, $weight: 400, $height: 160%);

      @media (max-width: 576px) {
        @include font($size: 14px);
      }
    }
  }

  .prices {
    @include flex($direction: column, $gap: 8px);
    padding-bottom: 24px;
    margin-bottom: 24px;
    border-bottom: 1px solid $dGrey-01;

    .price-line {
      @include flex($align: center, $justify: space-between);

      p {
        @include font($color: $Grey-01, $size: 16px, $weight: 400, $height: 160%);

        @media (max-width: 576px) {
          @include font($size: 14px);
        }
      }
    }
  }

  .total-price {
    @include flex($align: center, $justify: space-between);
    margin-bottom: 16px;

    p {
      @include font($color: $Black-01, $size: 20px, $weight: 600, $height: 140%);
      letter-spacing: -0.2px;

      @media (max-width: 576px) {
        @include font($size: 16px);
      }
    }
  }

  .use-promo {
    @include flex($align: center, $justify: space-between);
    @include container($background: $White-General, $border: 1px solid $dGrey-01, $border-r: 12px);
    padding: 19px 16px;
    margin-bottom: 32px;

    .promo-text {
      h5 {
        @include font($color: $Black-01, $size: 16px, $weight: 600, $height: 140%);
        letter-spacing: -0.2px;

        @media (max-width: 576px) {
          @include font($size: 14px);
        }
      }

      p {
        @include font($color: $Grey-01, $size: 16px, $weight: 400, $height: 160%);

        @media (max-width: 576px) {
          @include font($size: 12px);
        }
      }
    }
  }

  .link {
    text-decoration: none;

    .button-checkout {
      @include container($background: $Dark-Green-01, $border: none, $border-r: 8px, $width: 100%);
      @include font($color: $White-General, $size: 16px, $weight: 600, $height: 140%);
      @include flex($align: center, $justify: center);
      padding: 14px 10px;
      text-align: center;
      letter-spacing: -0.2px;

      @media (max-width: 576px) {
        @include font($size: 14px);
      }
    }
  }
}