@use "../../../../styles/mixins.scss";
@import "../../../../styles/variables";

.reviews-tab {
  margin: 0 120px 52px 120px;
  border-bottom: 1px solid $dGrey-01;
  
  @media (max-width: 576px) {
    margin: 0 24px 24px 24px;
  }

  .reviews-main {
    @include mixins.flex-center;
    align-items: flex-start;
    justify-content: space-between;
  }
}
