@import "../../styles/mixins.scss";
@import "../../styles/variables";

.header-wrapper {
  @include flex($justify: space-between, $align: center);
  @include container($background: $White-General);
  padding: 20px 120px 20px 120px;

  .link {
    text-decoration: none;
  }

  @media (max-width: 576px) {
    @include flex($gap: 16px);
    padding: 13px 24px 13px 0px;
  }

  .header-logo {
    @include flex($align: center, $gap: 8px);

    @media (max-width: 576px) {
      display: none;
    }

    .header-logo-image {
      @include flex($align: center, $justify: center);
      @include container($width: 32px, $height: 32px, $background: $Dark-Green-01, $border-r: 10px);
    }

    p {
      @include font($color: $Black-01, $size: 24px, $weight: 600, $height: 28px);
    }
  }

  .header-search {
    @include flex($align: center);
    @include container($background: $dGrey-02, $width: 856px, $height: 44px, $border-r: 8px);
    overflow: hidden;
    padding: 11px 16px 11px 16px;

    @media (max-width: 576px) {
      @include container($height: 34px);
      padding-left: 12px;
    }

    select {
      @include container($border: none, $background: $dGrey-02, $height: 100%);
      @include font($color: $Black-01, $size: 14px, $weight: 500);
      outline: none;
      border-right: 1px solid $dGrey-01;

      @media (max-width: 576px) {
        display: none;
      }

    }

    .header-search-input {
      @include flex($align: center, $justify: space-between);
      @include container($background: $dGrey-02, $width: 100%, $height: 100%);
      padding-left: 16px;

      button {
        @include container($background: none, $border: none);
      }

      @media (max-width: 576px) {
        padding-left: 0;
      }

      input {
        @include container($background: $dGrey-02, $border: none);
        outline: none;
      }

      img {
        @include container($width: 24px, $height: 24px);
      }
    }
  }

  .header-cart {
    @include flex($align: center, $gap: 16px);

    img {
      @include container($width: 24px, $height: 24px);
    }

    .cart-wrapper {
      @include flex($gap: 16px);
      border-right: 1px solid $dGrey-01;

      .cart {
        @include position($position: relative);

        span {
          @include flex($align: center, $gap: 10px, $justify: center);
          @include container($height: 18px, $background: #E04124, $border-r: 30px, $border: 1.5px solid $White-General);
          @include position($position: absolute, $bottom: 50%, $left: 25px);
          @include font($color: $White-General, $size: 12px, $weight: 600, $height: 130%);
          transform: translate(-50%);
          text-align: center;
          letter-spacing: -0.2px;
          padding: 5px;
        }
      }


      .menu-wrapper {
        @media (min-width: 576px) {
          display: none;
        }
      }

      .sms-wrapper {
        @include container($border-r: 1px solid $dGrey-01);
        padding-right: 12px;
      }


      @media (max-width: 576px) {
        padding-right: 0;
      }
    }

    .user-wrapper {
      img {
        @include container($width: 40px, $height: 40px);
      }

      @media (max-width: 576px) {
        display: none;
      }
    }

    .user-wrapper-closed {
      @include container($width: 48px, $height: 48px, $border: 1px solid $dGrey-01, $border-r: 50%);
      @include flex($align: center, $justify: center);

      img {
        @include container($width: 24px, $height: 24px);
      }

      @media (max-width: 576px) {
        display: none;
      }
    }
  }
}