@import "../../styles/mixins.scss";
@import "../../styles/variables";

.modal-overlay-card {
  @include position($position: relative, $top: 0, $left: 0);
  @include container($width: 100%, $height: 100%, $background: rgba(0, 0, 0, 0.5));
  @include flex($align: center, $justify: center);
  z-index: 2;

  .modal-card {
    @include container($width: 410px, $background: $White-General, $border-r: 8px, $border: 1px solid $dGrey-01);
    @include flex($direction: column);
    @include position($position: absolute, $top: 40px, $right: 0);
    padding: 24px;
    padding-top: 32px;
    box-shadow: 0px 4px 70px 0px rgba(129, 139, 156, 0.20);

    .user-card {
      .user-detail {
        @include flex($align: center, $gap: 16px);
        padding-bottom: 24px;
        margin-bottom: 24px;
        border-bottom: 1px solid $dGrey-01;

        .user-info {
          @include flex($direction: column, $gap: 4px);

          h3 {
            @include font($color: $Black-01, $size: 20px, $weight: 600, $height: 140%);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            letter-spacing: -0.2px;
          }

          h5 {
            @include font($color: $Grey-01, $size: 16px, $weight: 600, $height: 160%);
          }
        }

        img {
          @include container($width: 58px, $height: 58px);
        }
      }

      .wallet {
        @include flex($direction: column, $gap: 8px);
        padding-bottom: 24px;
        margin-bottom: 24px;
        border-bottom: 1px solid $dGrey-01;

        h2 {
          @include font($color: $Grey-01, $size: 14px, $weight: 500, $height: 160%);
          margin-bottom: 12px;
        }

        .wallet-line {
          @include flex($align: center, $justify: space-between);

          p {
            @include font($color: $Black-01, $size: 16px, $weight: 400, $height: 160%);
          }

          .wallet-column {
            @include flex($align: center, $gap: 12px);

            img {
              @include container($width: 24px, $height: 24px);
            }

            h4 {
              @include font($color: $Grey-01, $size: 16px, $weight: 400, $height: 160%);
            }
          }
        }
      }

      .user-menu {
        @include flex($direction: column, $gap: 8px);
        padding-bottom: 24px;
        margin-bottom: 24px;
        border-bottom: 1px solid $dGrey-01;

        h2 {
          @include font($color: $Grey-01, $size: 14px, $weight: 500, $height: 160%);
          margin-bottom: 12px;
        }

        .menu-line {
          @include flex($align: center);

          h4 {
            @include font($color: $Grey-01, $size: 16px, $weight: 400, $height: 160%);
          }

          img {
            @include container($width: 24px, $height: 24px);
            margin-right: 12px;
          }
        }
      }

      .sign-out {
        @include flex($align: center, $gap: 12px);

        img {
          @include container($width: 24px, $height: 24px);
        }

        button {
          @include font($color: #E04124, $size: 16px, $weight: 500, $height: 160%);
          @include container($background: none, $border: none);
          cursor: pointer;
        }
      }
    }
  }
}