@import "../../../../styles/mixins.scss";
@import "../../../../styles/variables";

.debit-card-form {
  @include container($border: 1px solid $dGrey-01, $border-r: 12px);
  padding: 32px 24px 24px 24px;

  @media (max-width: 576px) {
    padding: 16px;
  }

  h2 {
    @include font($color: $Black-01, $size: 20px, $weight: 600, $height: 140%);
    letter-spacing: -0.2px;
    margin-bottom: 24px;

    @media (max-width: 576px) {
      @include font($size: 16px);
    }
  }

  .form-group-container {
    @include flex($align: center, $gap: 16px);
    flex-wrap: wrap;
    margin-bottom: 32px;

    .form-group {
      @include flex($direction: column, $gap: 8px);
      @include container($width: 49%);

      @media (max-width: 576px) {
        @include container($width: 100%);
      }

      label {
        @include font($color: $Black-01, $size: 16px, $weight: 600, $height: 140%);
        letter-spacing: -0.2px;

        @media (max-width: 576px) {
          @include font($size: 14px);
        }
      }

      input {
        @include flex($align: center, $gap: 10px);
        @include container($border-r: 12px, $border: 1px solid $dGrey-01);
        @include font($color: $Grey-01, $size: 16px, $weight: 400, $height: 160%);
        padding: 10px 16px;
        align-self: stretch;
      }
    }
  }

  .form-buttons {
    @include flex($align: center, $gap: 16px, $justify: flex-end);

    @media (max-width: 576px) {
      @include flex($direction: column);
    }

    .cancel-button,
    .checkout-button {
      @include flex($align: center, $justify: center);
      @include container($width: 160px, $height: 46px, $border-r: 8px, $border: none);
      padding: 14px 10px;

      @media (max-width: 576px) {
        @include container($width: 305px);
      }
    }

    .cancel-button {
      @include font($color: $Black-01, $size: 16px, $weight: 600, $height: 140%);
      @include container($background: $dGrey-01);
      letter-spacing: -0.2px;
    }

    .link {
      text-decoration: none;

      .checkout-button {
        @include font($color: $White-General, $size: 16px, $weight: 600, $height: 140%);
        @include container($background: $Dark-Green-01);
        letter-spacing: -0.2px;
      }
    }
  }
}