$Dark-Green-01: #1E4C2F;
$Dark-Green-02: #257E34;
$Dark-Green-03: #1D9E34;
$Black-01: #0B0F0E;
$Black-02: #1D2322;
$Black-03: #313736;
$Grey-01: #818B9C;
$Grey-02: #919EAB;
$Grey-03: #C4C8CC;
$lGrey-01: #F1F1F1;
$lGrey-02: #F6F6F6;
$lGrey-03: #F9F9F9;
$dGrey-01: #E4E9EE;
$dGrey-02: #F7F7F7;
$dGrey-03: #F8F9FC;
$Orange-01: #FFA439;
$Orange-02: #FFD5B8;
$Orange-03: #FCECE1;
$Red-01: #E04124;
$Red-02: #EF907F;
$Red-03: #F9BCB1;
$White-General: #FFF;
