@import "../../../../styles/mixins.scss";
@import "../../../../styles/variables";

.banner-wrapper {
  @include flex($align: center, $justify: space-between);
  @include container($background: $dGrey-02);

  @media (max-width: 576px) {
    @include flex($direction: column, $justify: center);
  }

  .main-banner {
    @include flex($direction: column);
    padding-left: 120px;

    @media (max-width: 576px) {
      padding: 52px 24px 0 24px;
    }

    h1 {
      @include font($color: $Black-01, $size: 58px, $weight: 700);
      margin-bottom: 16px;

      @media (max-width: 576px) {
        @include font($size: 28px);
      }
    }

    p {
      @include font($color: $Grey-01, $size: 18px, $weight: 400);
      margin-bottom: 32px;

      @media (max-width: 576px) {
        @include font($size: 14px);
      }
    }

    .banner-buttons {
      @include flex($align: center, $gap: 16px);

      @media (max-width: 576px) {
        @include flex($direction: column, $gap: 16px);
      }

      button {
        @include flex($align: center, $justify: center, $gap: 10px);
        @include container($width: 200px, $border-r: 8px);
        padding: 14px 10px;

        @media (max-width: 576px) {
          @include container($width: 327px, $height: 48px);
          padding: 12px 10px;
        }
      }

      .button-buy {
        @include container($background: $Dark-Green-01, $border: none);
        @include font($color: $White-General, $size: 18px, $weight: 600);
        text-align: center;
      }

      .button-detail {
        @include container($background: $White-General, $border: 1px solid $Dark-Green-01);
        @include font($color: $Dark-Green-01, $size: 18px, $weight: 600);
        text-align: center;
      }
    }
  }

  .banner-img {
    img {
      @include container($height: 620px);
      max-width: 827px;

      @media (max-width: 576px) {
        @include container($height: auto);
        max-width: 100%;
      }
    }
  }
}